---
import { getLaunchById } from '../../services/spacex';
import Layout from '../../layouts/Layout.astro';

export const prerender = false;

const { id } = Astro.params;

let launch

if (id) {
    launch = await getLaunchById(id);
}
---

<Layout title=`Lanzamiento ${id}`>
    <article class="w-full">
        <div class="flex flex-col w-full justify-center items-center">
            <img class="w-52 h-auto" src={launch?.links.patch.small} alt={launch?.name} />
            <h2 class="mt-8 text-6xl text-white font-bold">Launch #{launch?.flight_number}</h2>
        </div>
        <p class="text-white mt-16">{launch?.details}</p>
    </article>
</Layout>